@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}

.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.slide-out {
    opacity: 0;
    transform: translateX(-100%);
}

.transition-all {
    transition: all 0.5s ease-in-out;
}
/* App.css */
.fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
  }
  input:checked + label {
    border-color: black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .scroll-hidden::-webkit-scrollbar {
    height: 0px;
    background: transparent;
  }
  